.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: white;
}

.Data-box {
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  padding: 10px 0;
  color: #444;
  background-color: rgba(250, 250, 250, 0.3);
  z-index: 1;
}
